[submodule "vendor/bevy"]
	path = vendor/bevy
	url = https://github.com/gehud/bevy.git
	branch = bevy_editor
[submodule "vendor/bevy_egui"]
	path = vendor/bevy_egui
	url = https://github.com/gehud/bevy_egui.git
	branch = bevy_editor
[submodule "vendor/bevy_inspector_egui"]
	path = vendor/bevy_inspector_egui
	url = https://github.com/gehud/bevy_inspector_egui.git
	branch = bevy_editor
[submodule "vendor/transform_gizmo"]
	path = vendor/transform_gizmo
	url = https://github.com/gehud/transform_gizmo.git
	branch = bevy_editor
