[submodule "vendor/bevy"]
	path = vendor/bevy
	url = https://github.com/gehud/bevy.git
	branch = bevy_editor
[submodule "vendor/bevy_egui"]
	path = vendor/bevy_egui
	url = https://github.com/gehud/bevy_egui.git
	branch = bevy_editor
[submodule "vendor/bevy_inspector_egui"]
	path = vendor/bevy_inspector_egui
	url = https://github.com/gehud/bevy_inspector_egui.git
	branch = bevy_editor
[submodule "vendor/bitflags"]
	path = vendor/bitflags
	url = https://github.com/gehud/bitflags.git
	branch = bevy_editor
[submodule "vendor/crossbeam"]
	path = vendor/crossbeam
	url = https://github.com/gehud/crossbeam.git
	branch = bevy_editor
[submodule "vendor/either"]
	path = vendor/either
	url = https://github.com/gehud/either.git
	branch = bevy_editor
[submodule "vendor/getrandom"]
	path = vendor/getrandom
	url = https://github.com/gehud/getrandom.git
	branch = bevy_editor
[submodule "vendor/glam"]
	path = vendor/glam
	url = https://github.com/gehud/glam.git
	branch = bevy_editor
[submodule "vendor/lazy_static"]
	path = vendor/lazy_static
	url = https://github.com/gehud/lazy-static.git
	branch = bevy_editor
[submodule "vendor/log"]
	path = vendor/log
	url = https://github.com/gehud/log.git
	branch = bevy_editor
[submodule "vendor/memchr"]
	path = vendor/memchr
	url = https://github.com/gehud/memchr.git
	branch = bevy_editor
[submodule "vendor/pin_project_lite"]
	path = vendor/pin_project_lite
	url = https://github.com/gehud/pin-project-lite.git
	branch = bevy_editor
[submodule "vendor/raw_window_handle"]
	path = vendor/raw_window_handle
	url = https://github.com/gehud/raw-window-handle.git
	branch = bevy_editor
[submodule "vendor/regex"]
	path = vendor/regex
	url = https://github.com/gehud/regex.git
	branch = bevy_editor
[submodule "vendor/serde"]
	path = vendor/serde
	url = https://github.com/gehud/serde.git
	branch = bevy_editor
[submodule "vendor/thiserror"]
	path = vendor/thiserror
	url = https://github.com/gehud/thiserror.git
	branch = bevy_editor
[submodule "vendor/transform_gizmo"]
	path = vendor/transform_gizmo
	url = https://github.com/gehud/transform_gizmo.git
	branch = bevy_editor
[submodule "vendor/winapi"]
	path = vendor/winapi
	url = https://github.com/gehud/winapi.git
	branch = bevy_editor
[submodule "vendor/windows"]
	path = vendor/windows
	url = https://github.com/gehud/windows.git
	branch = bevy_editor
[submodule "vendor/zerocopy"]
	path = vendor/zerocopy
	url = https://github.com/gehud/zerocopy.git
	branch = bevy_editor
[submodule "vendor/tinyvec"]
	path = vendor/tinyvec
	url = https://github.com/gehud/tinyvec.git
[submodule "vendor/unicode_segmentation"]
	path = vendor/unicode_segmentation
	url = https://github.com/gehud/unicode-segmentation.git
